body {
  background: url(./assets/Group\ 29.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  overflow-x: hidden;
}

body * {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}

main {
  min-height: 100vh;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
}

p {
  color: white;
}

body,
p,
span,
li {
  font-family: 'Montserrat', sans-serif;

}

#container-top {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 450px;
  justify-content: center;
  align-items: stretch;
  max-width: 1100px;
  margin: 0 auto;
}

#container-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100px;
  margin-top: 10px;
  padding-bottom: 0;
  gap: 24px;
}

.duas-colunas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 0;
  width: 500px;
}

.container-bottom,
.duas-colunas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  /* espaço entre as colunas */
  width: 100%;
}

#nome {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  background: radial-gradient(circle, #00ff80, #11c401c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#formacao {
  font-size: 0.7rem;
  color: white;
  text-align: center;
  margin-top: 0.5rem;
  line-height: 1.4;
  animation: surgir 4s ease-out 0.2s forwards;
}

#formacao .periodo {
  font-weight: 300;
  font-size: 0.65rem;
  color: #ccc;
}

@keyframes surgir {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


.tamanho {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
  text-align: center;
}

.tamanho .verde {
  color: #00ff80;
  font-weight: 700;
}

#cargo {
  display: inline-block;
  border-right: 2px solid #00ff80;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: digita 3.7s steps(30) forwards, cursor 0.7s steps(1) infinite;
  margin: 0 auto;
  text-align: center;
}

@keyframes digita {
  from {
    width: 0
  }

  to {
    width: 20ch;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

#card,
#card1,
#card-experience,
#linguagens-box,
#-box,
#projetos-box {
  min-width: 250px;
}

#card {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border: 3px solid #00ff00;
  border-radius: 10px;
  padding: 14px 2px;
  margin: 100px 0px;
  width: 250px;
  gap: 16px;
  background-color: #00ff8007;
}

#about-me {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  border: 3px solid #00ff00;
  border-radius: 10px;
  padding: 10px;
  margin: 100px 0;
  width: 300px;
  gap: 16px;
  background-color: #00ff8007;
}

#about-me p {
  color: white;
  font-size: 0.9rem;
  line-height: 1.4;
  padding: 1px;
}

#progress-bar {
  margin: 0 auto;
  width: 200px;
  height: 20px;
  border: 3px solid #11bb02bb;
  border-radius: 10px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  padding: 3px;
}

#preencher {
  height: 100%;
  width: 60%;
  background-color: #00ff80;
  border-radius: 8px 3px 3px 8px;

  animation: loading 3.5s ease-in-out forwards;
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 60%;
  }
}

.verde {
  color: #00ff80;
}

.branco {
  color: white;
}

@media (max-width: 768px) {
  #container-top {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  #card-experience {
    width: 90%;
    margin: 20px auto;
    padding: 10px;
  }

  .experiencia-item {
    flex-direction: column;
    gap: 6px;
    text-align: center;
  }

  .experiencia-item ion-icon {
    font-size: 28px;
  }

  #container-top {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  #about-me,
  #card,
  #linguagens-box {
    width: 90%;
    margin: 10px auto;
  }

  .duas-colunas {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #social-box,
  #projetos-box {
    width: 90%;
    margin: 0 auto;
  }

  #social-list li {
    width: 100%;
  }

  #projetos-box li {
    width: 100%;
  }
}

#social-box,
#projetos-box {
  width: 280px;
  max-width: 100%;
}

#social-box {
  border: 3px solid #00ff00;
  border-radius: 10px;
  padding: 14px;
  margin: 0;
  text-align: center;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 600px;
  background-color: #00ff8007;

}

#social-box h3 {
  color: #00ff00;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

#social-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#social-box li {
  padding: 200px;
  background-color: #000;
  border-radius: 12px;
  border: 1.5px solid transparent;
  transition: border 0.3s;
}

#social-box li:hover {
  border: 1.5px solid #1ec51e;
}

#social-box ul li a:hover {
  color: #00ff00;
}

#social-box li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.8rem;
}

#social-box ion-icon {
  font-size: 20px;
  color: #00ff80;
}

ion-icon {
  color: #00ff80;
}

#social-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* ou repeat(2, 1fr) */
  gap: 1rem;
  justify-content: center;
  /* centraliza as colunas */
  align-items: center;
  /* centraliza verticalmente */
}

#social-list li {
  background-color: #000;
  border-radius: 10px;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  width: 250px;
  margin: 0 auto;
  /* centraliza o item dentro da coluna */
}

#social-list li:hover {
  border: 1.5px solid #1ec51e;
  transform: scale(1.05);
  transition: transform 0.3s, ease-in-out;
}

#social-list a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}


#linguagens-box {
  border: 3px solid #00ff00;
  border-radius: 10px;
  padding: 24px 24px;
  margin: 100px 0;
  width: 250px;
  gap: 16px;

  background-color: #00ff8007;

}

#linguagens-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 0.5rem;
}

#linguagens-box li {
  background-color: #000;
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  border-radius: 6px;
  transition: background-color 0.3s;

  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  gap: 10px;
  font-weight: 500;
  font-size: 1rem;
}

#linguagens-box li ion-icon {
  position: absolute;
  left: 80px;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  -o-user-select: none;
  /* Opera */
}

#linguagens-box ion-icon {
  font-size: 20px;
  color: #00ff80;
  display: inline-block;
  vertical-align: middle;
}


#linguagens-box li:hover {
  color: #00ff00;
  transform: scale(1.05);
  transition: transform 0.03s, ease-in-out;
}

/*Projetos*/

#projetos-box {
  border: 3px solid #00ff00;
  border-radius: 10px;
  margin: 0;
  padding: 7px;
  gap: 16px;

  background-color: #00ff8007;

}

#projetos-box ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  /* <-- centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* <-- centraliza os <li> */
  gap: 0.5rem;
}

#projetos-box li {
  background-color: #000;
  color: #fff;
  padding: 0.6rem;
  text-align: center;
  border-radius: 6px;
  border: 1.5px solid transparent;
  transition: background-color 0.3s, color 0.3s;
  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 1rem;
  width: 210px;
}

#projetos-box li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 500;
  transition: color 0.3s;
}

#projetos-box li:hover {
  background-color: #000;
  border: 1.5px solid #1ec51e;
  transform: scale(1.05);
  transition: transform 0.3s, ease-in-out;
}

#projetos-box li:hover a {
  color: #00ff00;
}

#projetos-box ul li a:hover {
  color: #00ff00;
}

#card-experience {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border: 3px solid #00ff00;
  border-radius: 10px;
  padding: 12px;
  margin: 20px auto;
  width: 100%;
  max-width: 930px;
  gap: 16px;
  background-color: #00ff8007;
}

#card-experience ion-icon {
  display: inline-block;
  animation: balancar 1s ease-in-out infinite;
}

@keyframes balancar {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(7deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(8deg);
  }
}


#card-experience a {
  color: white;
  text-decoration: none;
}

#card-experience a:hover {
  color: #00ff00;
  text-decoration: solid;
}


.experiencia-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 8px;
  color: white;
}

.experiencia-item ion-icon {
  font-size: 24px;
  color: #00ff80;
  vertical-align: middle;
}

h1,
h3 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background: radial-gradient(circle, #00ff80, #11c401c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  background: radial-gradient(circle, #00ff80, #11c401c5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  margin: 10px;
  text-align: center;
  text-transform: uppercase;
}